beautifulsoup4==4.13.4
blinker==1.9.0
bottle==0.13.4
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
clr_loader==0.2.7.post0
colorama==0.4.6
comtypes==1.4.11
deep-translator==1.11.4
Flask==3.1.1
gTTS==2.5.4
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
proxy_tools==0.1.0
pycparser==2.22
pydub==0.25.1
pypiwin32==223
pythonnet==3.0.5
pyttsx4==3.0.15
pywebview==5.4
pywin32==310
requests==2.32.4
six==1.17.0
soupsieve==2.7
SpeechRecognition==3.14.3
typing_extensions==4.14.0
urllib3==2.4.0
Werkzeug==3.1.3
